{% extends 'base.html.twig' %}

{% block title %}Factuurregel index{% endblock %}

{% block body %}
    <h1>Factuurregel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aantal</th>
                <th>Korting</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factuurregel in factuurregels %}
            <tr>
                <td>{{ factuurregel.id }}</td>
                <td>{{ factuurregel.aantal }}</td>
                <td>{{ factuurregel.korting }}</td>
                <td>
                    <a href="{{ path('factuurregel_show', {'id': factuurregel.id}) }}">show</a>
                    <a href="{{ path('factuurregel_edit', {'id': factuurregel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('factuurregel_new') }}">Create new</a>
{% endblock %}
