{% extends 'base.html.twig' %}

{% block title %}Factuurregel{% endblock %}

{% block body %}
    <h1>Factuurregel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factuurregel.id }}</td>
            </tr>
            <tr>
                <th>Aantal</th>
                <td>{{ factuurregel.aantal }}</td>
            </tr>
            <tr>
                <th>Korting</th>
                <td>{{ factuurregel.korting }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('factuurregel_index') }}">back to list</a>

    <a href="{{ path('factuurregel_edit', {'id': factuurregel.id}) }}">edit</a>

    {{ include('factuurregel/_delete_form.html.twig') }}
{% endblock %}
